
body{
	background-color: yellow:;
	margin: 0;
	margin-top:  70px;

}
nav{
	position: fixed;
	background-color: yellow;
	width: 100%;
	top: 0;
	left: 0,
   

}

#nav ul{
	padding: 0;
}
#nav li{
	display: inline-block;
	padding:  0 30px;
	font-family: "Robeto Condensend":sans-serif;
	text-align: top;
	display:block;

}
nav ul ul{
	/*this is sub menus*/
	display: none;

}
 nav ul li:hover ul{
 	display: block;
 }

 nav a{
 	text-decoration: none;
 }
 #menu button{
 	 display: none;
 	 position: fixed;
 	 top: 0;
 	 right: 0;
 	 z-index: 1;

 }
 h1{
 	font-family: "ariel "

 }
 .onepagenave{
 	
 }


  .current{
 	text-decoration: underline;
 }
section{
	margin-top: -50px;
	padding-top:  50px;
}
#resume{
	height: 800px;
}

@media(max-width: 768px;){
	nav li{
		display: block;
		/*display none /*
	}}


