img {
	height: 100px;
	width: 100%:;
}

section{
	height: 60px;
	background-attachment: fixed;
	background-size: cover;
}
.winter{
	background-image: url(homes.jpg);
}
.spring{
	background-image: url(blue-door-solar);
}

.fall{
	background-size: url(losvagas.jpg)
}
.autumn{
	background-image: url();
}